<div *ngIf="!editMode">
  <h1>ADD</h1>
  <form>
    <input #inputElement type="text" placeholder="What todo">
    <button (click)="addTodo(inputElement.value)">Add</button>
  </form>
</div>

<div *ngIf="editMode && editing">
  <h1>EDIT</h1>
  <form>
    <input #inputElement [value]="editing.whatTodo" type="text" placeholder="What todo">
    <button (click)="editTodo(inputElement.value, editing.id)">Save</button>
  </form>
</div>


<ng-container *ngIf="!editMode">
  <hr>
  <div *ngFor="let todo of todos$ |async">
    <p>{{ todo.whatTodo }}</p>
    <i>{{ todo.whenTodo }}</i>
    <button (click)="deleteTodo(todo.id)">Delete</button>
    <button (click)="edit(todo.id)">Edit</button>
  </div>
</ng-container>

